BR2_arm=y
BR2_cortex_a9=y
BR2_OPTIMIZE_3=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CODESOURCERY_ARM2010Q1=y
BR2_EXT_TOOL_DIRS_EXTRA="/usr/lib/gconv"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mfloat-abi=softfp -mfpu=neon"
BR2_TARGET_GENERIC_GETTY=y
BR2_BUSYBOX_VERSION_1_16_X=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/amlogic/atv300/busybox.config"
BR2_PACKAGE_UBOOTAML=y
BR2_PACKAGE_XBMC=y
# BR2_PACKAGE_SAMBA_WINBINDD is not set
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/amlogic/atv300/skeleton"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="2.6.34"
BR2_LINUX_KERNEL_PATCH="board/amlogic/atv300/kernel-patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/amlogic/atv300/kernel.config"
